img {
	width: 600px;
  margin-bottom: 2em;
	margin-top: 3em;
}
#friends{
	margin-left: 3em;
}
.action{
	float: right;
	margin-right: 3em;
	font-family: 'Waiting for the Sunrise', cursive;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.body {
  background-image: url ("pic.jpg");
  padding: 100px;
  background-image: repeat;
  background-position: center;
  background-attachment: fixed;
}

h1{
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 2em;
  margin-top: 3em;
  margin-bottom: 0em;
  text-align: center;
}
h2{
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2em;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;

}
p{
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 1em;
	margin-left: 3em;
	margin-bottom: 3em;
}
body{
  margin: 0;
}

header {
  float: center;
}
header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ebebe8;
  font-family: 'Life Savers', cursive;
}

header li {
  position: relative;
  left: 960px;
  float: left;
}
header li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: white;
  color: black;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
	margin-top: 0px;
	margin-left: 13px;
  flex: 50%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}
.column1{
	margin-left: 5em;
	align-items: center;
	margin-left: 15em;
	}

.fa {
  padding: 16px;
  font-size: 20px;
  width: 20px;
  border-radius: 50%;
	margin-bottom: 30px;
	display: inline-block;
	justify-content:center;
  text-align:center;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.page-footer{
  display:flex;
}

.page-footer ul{
  justify-content:center;
  text-align:center;
}

.page-footer ul li{
  display:inline-block;
 }


/* Create two equal columns that sits next to each other */
